body {
	background-color: #333;
	font-family: 'Oswald', sans-serif;
}
#box {
	height: 100px;
	width: 240px;
	background-color: black;
	color: white;
	font-size: 1.3em;
}

#gameStart {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    height: 80px;
    width: 320px;
    background-color: black;
    color: white;
    font-size: 1.6em;
    position: absolute;
    bottom: 10%;
    left: 35%;
}

#gameStart:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}


#message {
	background: black;
	display: none;
	padding: 10px;
	height: 400px;
	width: 900px;
	border-radius: 3%;
	color: white;
	word-spacing: 7px;
	line-height: 25px;
	margin-top: 25px;
	z-index: 20000000000000000;
	text-align: center;
	position: absolute;
	top: 10%;
	left: 7.5%;	
}

#instructions {
	list-style: none;	
}

#instruc-h {
	font-size: 1.3em;
}

#box {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#box:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

#gameOver {
	height: 600px;
	width: 900px;
	background-color: black;
	z-index: 10000000000000;
	text-align: center;
	position: absolute;
	right: 5%;
	font-size: 1.8em;
	color: red;
	display: none;
	border-radius: 15%;
	line-height: 70px;
}

#winScreen {
	height: 600px;
	width: 900px;
	background-color: black;
	z-index: 10000000000000;
	text-align: center;
	position: absolute;
	right: 7%;
	font-size: 1.8em;
	color: white;
	display: none;
	border-radius: 15%;
	line-height: 70px;
}

#winButton {
	bottom: 5%;
	right: 28%;
}

#gameOverButt {
	bottom: 5%;
	right: 28%;
}

.playAgain {
	background-color: black;
	color: white;
	height: 150px;
	width: 400px;
	font-size: 1.4em;
	position: absolute;
	/*bottom: 25%;*/
	/*left: 33%;*/
	transition-duration: 0.4s;	
}

.playAgain:hover {
	background-color: red;
}

/*OVERRUN BAR*/

#infectionStatusContainer{
  display: inline-block;
  font-size: 50px;
  /*margin: 20px;*/
  width: 500px;
  height:70px;
  font-size: 1.2em;
  padding-left: 150px;
  color: white;
/*  position: absolute;
  top: 0%;
  right: 0%;*/
}

#infectionStatusContainer h2 {
  display: inline-block;
  margin-right: 10px;
}

#infectionStatus{
  display: inline-block;
  overflow: hidden;
  width:200px;
  height: 30px;
  vertical-align: middle;
  border: solid black 2px;
  border-radius: 50%;
}
#overrunBar {
  height: 30px;
  width: 100px;
  background: #228B22;
}


#musicButton {
	height: 50px;
	width: 50px;
	position: absolute;
	bottom: 5%;

}

#zombie1 {
	width: 200px;
	height: 200px;
}

/*GUNSHOT STYLING*/

#gunshot {
	width: 80px;
	height: 80px;
	display: none;
	position: absolute;
    top: 15%;
    right: 22%;
}

#gunshot2 {
	width: 80px;
	height: 80px;
	display: none;
	position: absolute;
    top: 11%;
    right: 38%;
}

#gunshot3 {
	width: 80px;
	height: 80px;
	display: none;
	position: absolute;
    top: 11%;
	right: 15%;
}


#gunshot4 {
	width: 80px;
	height: 80px;
	display: none;
	position: absolute;
    top: 11%;
	right: 15%;
}

#gunshot5 {
	width: 80px;
	height: 80px;
	display: none;
	position: absolute;
    top: 11%;
	right: 0%;
}

#gunshot6 {
	display: none;
	height: 80px;
	width: 80px;
	position: absolute;
	top: 40%;
    left: 34%;
}

#gunshot7 {
	display: none;
	height: 80px;
	width: 80px;
	position: absolute;
    top: 27%;
    left: 45%;
}

#gunshot8 {
	display: none;
	height: 80px;
	width: 80px;
	position: absolute;
	top: 18%;
    left: 22%;
}

#gunshot9 {
	width: 80px;
	height: 80px;
	display: none;
	position: absolute;
    top: 4%;
    right: 28%;
}

#gunshot10 {
	width: 80px;
	height: 80px;
	display: none;
	position: absolute;
    top: 15%;
    right: 40%;
}

#gunshot11 {
	width: 80px;
	height: 80px;
	display: none;
	position: absolute;
    top: 10%;
    left: 8%;
}

#gunshot12 {
	width: 80px;
	height: 80px;
	display: none;
	position: absolute;
    top: 39%;
    right: 22%;
}

/*ZOMBIE SPRITES*/

#target {
	height: 180px;
	width: 180px;
	background-color: none;
	background-image: url('images/png/female/Attack (1).png');
	background-size: 184px 162px;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0%;
	left: 1.2%;
	z-index: 1;
}

#target2 {
	height: 180px;
	width: 180px;
	background-color: none;
	background-image: url('images/png/male/Dead (1).png');
	background-size: 184px 162px;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0%;
	left: 2%;
	z-index: 1;
}

#target3 {
    height: 140px;
    width: 180px;
	background-color: none;
	background-image: url('images/png/male/Attack (8).png');
	background-size: 148px 148px;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 25%;
	right: 2%;
	z-index: 1;
	display: none;	
	transform: rotateY(180deg);
}

#target4 {
    height: 140px;
    width: 140px;
	background-color: none;
	background-image: url('images/png/female/Attack (4).png');
	background-size: 148px 148px;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0%;
	right: 25%;
	z-index: 1;
}

#target5 {
    height: 110px;
    width: 110px;
	background-color: none;
	background-image: url('images/png/female/Attack (4).png');
	background-size: 118px 118px;
	background-repeat: no-repeat;
	position: absolute;
	top: 15%;
	right: 38%;
	z-index: 1;
	display: none;
	transform: rotateY(180deg)
}

#bossTarget {
	height: 250px;
	width: 250px;
	background-color: none;
	background-image: url('images/BOSS_ZOMBIE.png');
	background-size: 230px 230px;
	background-repeat: no-repeat;
	display: none;
	position: absolute;
	top: 12%;
	left: 25%;
}

#bossTarget2 {
    height: 300px;
    width: 300px;
    background-color: none;
    background-image: url(images/boss2.png);
    background-size: 250px 250px;
    background-repeat: no-repeat;
     display: none; 
    position: absolute;
    top: 29%;
    right: 18%;
}


/*ENVIROMENT*/

#gameStage {
	height: 700px;
	width: 1075px;
	background-color: white;
	position: absolute;
	top: 2%;
	right: 6%;
	background-image: url('images/background.jpg');
	background-size: 1075px 700px;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	cursor: crosshair;
}

.shell {
	height: 50px;
	width: 50px;
	position: absolute;
	right: 2%;
	top: 1%;
}

#shell {
	height: 50px;
	width: 50px;
	position: absolute;
	right: 2%;
	top: 1%;
}

#shell2 {
	height: 50px;
	width: 50px;
	position: absolute;
	right: 4%;
	top: 1%;
}

#shell3 {
	height: 50px;
	width: 50px;
	position: absolute;
	right: 6%;
	top: 1%;
}

#shell4 {
	height: 50px;
	width: 50px;
	position: absolute;
	right: 8%;
	top: 1%;
}

#shell5 {
	height: 50px;
	width: 50px;
	position: absolute;
	right: 10%;
	top: 1%;
}

#shell6 {
	height: 50px;
	width: 50px;
	position: absolute;
	right: 12%;
	top: 1%;
}

#score {
	padding-left: 25px;
	color: white;
	display: inline-block;
	margin-right: 10px;
}

#rock1 {
    height: 205px;
    width: 591px;
	position: absolute;
	bottom: -4.5%;
	left: -2%;
	z-index: 10000;
	overflow: hidden;
	transform: rotate(-15deg);
}

#rock2 {
    height: 200px;
    width: 400px;
    position: absolute;
    bottom: -3%;
    right: 15%;
    z-index: 1001;
    transform: rotate(6deg);
}

#rock3 {
	height: 200px;
    width: 400px;
    position: absolute;
    bottom: -9%;
    right: 32%;
    z-index: 10000;
    transform: rotate(-3deg);
}

#rock4 {
    position: absolute;
    bottom: -2%;
    right: -11%;
    height: 200px;
    width: 567px;
    z-index: 999;
}

#rock5 {
	position: absolute;
	bottom: -2%;
	left: -5%;
	height: 200px;
	width: 250px;
	z-index: 1000
}

#instructions {
	font-size: 1.2em;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

audio {
	display: none;
}